<!-- English Version -->
<h3>Awards</h3>

<b>Awards for the Guangzhou Hackathon</b>

<ul>
  <li>First prize, 10000 Yuan</li>
  <li>Second prize, 2000 Yuan</li>
  <li>Third prize, 1000 Yuan</li>
  <li>Forth to eighth prize, 400 Yuan</li>
</ul>

<p>The winning team members will have the opportunity to be selected as one of 10 qualified participants in the Global Hackathon. The round-trip air tickets for taking part in the Global Hackathon will be sponsored by 6CIT startups incubator, and the accommodation will be provided by the organizing committee of Global Hackathon.</p>

<br />

<b>Additional Awards provided by Sponsors</b>

<br />

<b>Audience Favorite Work</b>

<ul>
  <li>Voted by all the audience who participate in the closing ceremony</li>
  <li>Bonus 200 Yuan</li>
</ul>


