<!-- English Version -->
<h3>国际创客马拉松简介</h3>
<blockquote>
  <p>
    国际创客马拉松是韩国首尔数码论坛(Seoul Digital Forum)所举办的一个国际性赛事，面向中日韩以及其它国家的参赛者。目标是利用信息科技来解决全球性问题，包括社会，生活，文化，环境，能源等等。创客马拉松发源自美国，一般比赛时间为24至48小时，参赛者在比赛现场临时组队，为共同的构想开发一个产品或产品原型。高强度的开发过程、激烈的思想碰撞、丰厚的奖金奖品，让创客马拉松慢慢发展成为一个技术与设计人员、创业者、大型公司和投资人交流互动、挖掘人才的社区性活动。在美国的硅谷，几乎每一天都会举行着大大小小的创客马拉松。正是创客马拉松这种活动形式，吸引到更多的人关注科技、关注创业，构成了现在硅谷开放、分享、创新的文化。而这次的国际创客马拉松，在规模上则更进一步，届时将有来自不同国家地区将近200名参赛者同场竞技。主办方希望通过促使不同政治，文化，种族背景的参赛者之间思维的碰撞和合作，诞生出一些具有全球性思维、解决全球性大问题的产品和想法。
  </p>
</blockquote>

<h6>国际创客马拉松组织方</h6>

<p><b>指导单位</b>:韩国首尔数码论坛</p>
<p><b>组织单位</b>:SBS基金会, AppCenter</p>

<blockquote>
  <p>
    作为国际创客马拉松的指导单位，韩国首尔数码论坛(简称SDF)已举办了10届，每年都会邀请科技、文化、商业、政治领域的领袖，与来自世界各地的人探讨如何如何利用科技的力量让世界变得更美好。每年，SDF都会邀请全球在T.I.M.E.+（分别代表科技，信息，传媒，企业）领域40至50位最杰出的领袖，在为期两天的会议中，通过20至25个包括访谈，演讲，研讨会，表演的活动，让大家分享这些领袖对于社会，对于世界，对于未来的看法。这些活动会通过报纸、电视台、还有网络直播传达给全球将近十万名观众。过去邀请到的嘉宾包括有美国前副总统戈尔，现任韩国市长朴元淳，微软创始人比尔盖茨，谷歌首席执行官埃里克斯密特， 阿凡达的导演卡梅隆，万维网发明者蒂姆博纳斯李等。过去的大会主题包括“连结: 走向一个分享的未来”，“生态合作: 面向未来的解决方案”， 和“共存： 科技，人性和对未来的希冀”等。
  </p>

  <p>
    作为组织单位，SBS基金会是韩国SBS传媒控股集团名下专注于传播和文化创新的机构。SBS传媒控股集团是SBS电视台的母公司，也是首尔数码论坛的主办方。集团属下的公司包括媒体，文化，科技，基金会等，具有全面的资源整合和宣传能力。
  </p>

  <p>
    同样作为组织单位，AppCenter是一个专注于科技、创业、教育的组织，在韩国具有相当高的知名度。从2010开始到现在举办过超过200场比赛和活动，其中包括创客马拉松，创客周末，创业加速器项目，创业学院，技术会议和研讨会等等。在科技和创业社区方面的品牌推广和活动组织有非常丰富的经验。
  </p>
</blockquote>

<h6>
  广州创客马拉松与国际创客马拉松（首尔）选拔赛的关系
</h6>

<blockquote>
  <p>
    首届广州创客马拉松在承办方东西科技的努力下，特别获得了国际创客马拉松（首尔）的授权，可以选拔10位选手在五月中旬参加国际创客马拉松。在广州创客马拉松为期三天的竟赛中，所有获奖团队成员将获得参加遴选的资格，组委会会从中挑出素质全面，技术过硬，英语流利，有资格代表广州的选手赴韩国参与比赛。
  </p>
  <p>
    除了与国际创客马拉松相符的，吸引更多的人关注和参加科技创新活动的目的以外，广州创客马拉松组委会的核心任务还包括打造广州创客马拉松这属于广州自己的品牌。我们希望每年都能在科学中心和省科技厅的指导下举办一届“广州创客马拉松”，让它成为广州科技圈、创业圈的名片和标志性活动。
  </p>
</blockquote>

<h6>如何从韩国取得承办权</h6>

<blockquote>
  <p>
    东西科技因得到国际马拉松主办法对其关于创业和社区的想法的认同，得到了今年国际创客马拉松的参赛邀请。主办方同时邀请东西科技联合6CIT创业孵化器挑选几名优秀的科技人才代表广州一同前往首尔参赛。因此，借此次机会，东西科技决定担任承办方，举办一次名为“广州创客马拉松”的本地性比赛，开创创客马拉松文化、促进社区氛围的同时，选拔合资格的参赛选手。
  </p>
</blockquote>
