<!-- English Version -->
<ol style="margin-top: 10px;">
  <li>Fill in the <a href="#signup">application form</a> to sign up and submit personal information. The competition committee will then select 200 final participants in consideration of different background, region and specialty of the applicants.</li>
  <li>Each participant will have the opportunity to present his/her idea to all participants in the opening day, after which will be the free teaming up time.</li>
  <li>Participants are given 48 hours to develop their product prototypes.</li>
  <li>A 3-minute demonstration of the product prototypes given to the judges and audiences at the final stage can be done through a real production operation, a PPT, a video, or a speech. The judges will make the final decision on the winner for each award.</li>
</ol>
