<h3>大赛日程</h3>

<h6>4月25日周五（第一日）</h6>

<b>2:00 p.m. –4:00 p.m.  报到与开幕</b>

<ul>
  <li>
    参赛者在主赛场周边报到，随后进入主赛场，大会将组织赛前活动与社交活动引导参赛者互相介绍交流
  </li>
  <li>
    相关人员进场完毕后举行开幕讲话及大赛规则讲解
  </li>
  <li>
    赞助商/科技公司在现场做技术/产品/开发工具展示，派放纪念品
  </li>
</ul>

<b>4:00 p.m. –5:00 p.m.  创意交流</b>

<ul>
  <li>开发者、设计师、产品人自我介绍，每个参赛者有1分钟来阐述自己的想法(非强制性)，自己的特长以及需要团队成员的类型，其余参赛者可以自由选择感兴趣的想法组成团队</li>
  <li>完成组队后，参赛队伍可以开始开发作品</li>
</ul>

<b>6:00 p.m. –12:00 a.m.  开发阶段</b>

<ul>
  <li>竞赛时间，参赛队伍投入开发</li>
</ul>

<h6>4月26日周六（第二日）</h6>

<b>全天  开发阶段</b>

<ul>
  <li>竞赛时间，参赛队伍投入开发</li>
</ul>

<h6>4月27日周日（第三日）</h6>

<b>12:00 a.m. –3:00 p.m. 开发阶段</b>

<ul>
  <li>竞赛时间，参赛队伍投入开发</li>
</ul>

<b>8:00 a.m. – 3:00 p.m. 展示准备</b>

<ul>
  <li>建议参赛者利用这段时间开始准备展示，写作PPT，拍摄微视频，练习演讲等</li>
</ul>

<b>3:30 p.m. –4:30 p.m.  提交作品</b>

<ul>
  <li>提交作品，上传相关作品名称，介绍，视频，PPT到大赛网站。参赛队伍可以在比赛开始后24小时开始提交作品。提交截止后，初步评估每件作品，并安排符合要求的作品展示。</li>
</ul>

<b>4:30 p.m. –6:30 p.m.  作品展示</b>

<ul>
  <li>参赛队伍有三分钟时间展示每件作品，可以通过PPT，演示等手段进行展示，评委和投资人将会有2分钟进行提问。</li>
</ul>

<b>6:45 p.m. –10:00 p.m.  颁奖典礼和晚宴</b>

<ul>
  <li>经过大赛评委的商议，评出各个奖项的获奖团队。现场主持人为引导各个获奖团队和评委嘉宾上台领/颁奖，合影。</li>
  <li>结束之后开始集中聚餐，形式为自助餐。参赛者，嘉宾评委，投资人可以自由地进行赛后交流。</li>
</ul>

<b>10:00 p.m. 广州创客马拉松系列活动全部结束</b>
