<!-- English Version -->
<h3>Competition Schedule</h3>

<h6>On Friday, April 25th (The first day)</h6>

<b>4:00 p.m. – 7:00 p.m. Registration and the Opening</b>

<ul>
  <li>
    Participants will register first and then enter the main venue. Warm-up activities and social activities to guide the participants to introduce themselves are organized before the competition.
  </li>
  <li>
    An opening speech and competition rules explanation will be given after all the related personnel have entered the stadium.
  </li>
  <li>
    Sponsors and tech companies will demonstrate their technology, product and development tools at the scene, and send souvenirs.
  </li>
</ul>

<b>7:00 p.m. – 8:00 p.m. Innovative Ideas Exchange</b>

<ul>
  <li>Developers, designers and product managers will make self-introduction. Each contestant will have 1 minute of present his/her idea (not mandatory), their preference of team members he/her need. Contestants can form teams freely based on common interest to some ideas.
  <li>Once finishing teaming-up, each team can begin to develop their products.</li>
</ul>

<b>8:00 p.m. – 12:00 a.m. Development Stage</b>

<ul>
  <li>Competition time, each team is immersed in product development.</li>
</ul>

<h6>On Saturday, April 26th (The Second Day)</h6>

<ul>
  <li>Whole day for development</li>
</ul>

<h6>On Sunday, April 27th (The Third Day)</h6>

<b>12:00 a.m. – 4:00 p.m. Development Stage</b>

<ul>
  <li>Competition time, each team is immersed in product development.</li>
</ul>

<b>8:00 a.m. – 4:00 p.m. Demonstration Prepartion</b>

<ul>
  <li>This period of time shold be used to prepare for the demonstration of the product prototypes, including PPT making, micro video shooting, speech practicing etc.</li>
</ul>

<b>3:00 p.m. – 4:00 p.m. Submission of Final Works</b>

<ul>
  <li>Submit the title, introduction, video and PPT of the final workds to the contest's official web site. Teams can start to submit works 24 hours after the beginning of the competition. After the submission deadline, a preliminary assessment of each work will be made, and then the qualified works will be required to make demonstrations.</li>
</ul>

<b>5:00 p.m. – 8:00 p.m. Works Demonstration</b>

<ul>
  <li>Teams will have 3 minutes to show each work by using PPT, video, etc. Judges and the investors will have 2 minutes to raise questions.</li>
</ul>

<b>8:00 p.m. – 10:00 p.m. Awards Ceremony and Dinner</b>

<ul>
  <li>The award-winning teams are selected after the discussion of contest judges. And then the host will guide each winning team to accept the award and taking photos with judges.</li>
  <li>A buffet dinner will be held after the closing ceremony of the competition. The contestants, guest judge, and investors can communicate with each other freely during the dinner time.</li>
</ul>

<b>10:00 p.m. End of the Competition</b>
