<!-- English Version -->
<h3>Goals and Objectives of Guangzhou Hackathon</h3>

<ul>
  <li>Improve the science, technology and startups images of Guangzhou.</li>
  <li>To become a signature event of Guangzhou science, technology and startups.</li>
  <li>Attract more attention and participation in the science and technology entrepreneurship and develop and entrepreneurial atmosphere of Guangzhou.</li>
  <li>Enable people with different backgrounds and professional fields to enjoy technology and startups.</li>
</ul>
