<% content_for :title, t(:contact) %>
<% content_for :meta do %>
  <link rel="canonical" href="http://gzhack.io/signup" />
<% end %>

<% content_for :action_name, "contact" %>

<% content_for :sidebar_nav do %>
<% end %>

<div class="col-xs-12 col-sm-12 col-md-12" id="signup">

  <h4><%= t :contact %></h4>

  <%= render (default_locale? ? "contact_info" : "contact_info_en") %>

</div>
