<section id='logo'>
  <div class="container">
    <div class="slider">
      <ul class="sliders-list" id='slider_list'>
        <li><img src="logo.png"></img></li>
        <li><img src="logo.png"></img></li>
        <li><img src="logo.png"></img></li>
      </ul>
    </div>
  </div>
</section>

<section id="entries">
  <div class='inner'>
    <div class="entry">
      <div class="ih-item circle effect4 left_to_right">
        <a href="/about">
          <div class="img">
            <img src='about.png' />
          </div>
          <div class="info">
            <h3>Heading Here</h3>
            <p>Description goes here.</p>
          </div>
        </a>
      </div>
    </div>
    <div class='entry'>
      <div class="ih-item circle effect4 top_to_bottom">
        <a href="/signup">
          <div class="img">
            <img src='signup.png' />
          </div>
          <div class="info">
            <h3>Heading Here</h3>
            <p>Description goes here.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="entry">
      <div class="ih-item circle effect4 right_to_left">
        <a href="#">
          <div class="img">
            <img src='forum.png' />
          </div>
          <div class="info">
            <h3>Heading Here</h3>
            <p>Description goes here.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
