<section id='logo'>
  <div class="container">
    <img src="logo.png"></img>
  </div>
</section>

<section id="entries">
  <div class='inner'>
    <div class="entry">
      <div class="ih-item circle effect4 left_to_right">
        <a href="#">
          <div class="img">
            <img src='about.png' />
          </div>
          <div class="info">
            <h3>Heading Here</h3>
            <p>Description goes here.</p>
          </div>
        </a>
      </div>
    </div>
    <div class='entry'>
      <div class="ih-item circle effect4 top_to_bottom">
        <a href="#">
          <div class="img">
            <img src='register.png' />
          </div>
          <div class="info">
            <h3>Heading Here</h3>
            <p>Description goes here.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="entry">
      <div class="ih-item circle effect4 left_to_right">
        <a href="#">
          <div class="img">
            <img src='forum.png' />
          </div>
          <div class="info">
            <h3>Heading Here</h3>
            <p>Description goes here.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
