.about, .signup {
  margin-top: 50px;
  margin-bottom: 100px;
}
.help-block {
  font-size: 12px;
}
.alert-alert {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #f1c40f;
}

.about #intro, .about #intro_en {
  blockquote {
    margin-top: 25px;
  }
  blockquote p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.about, .signup {
  .navigation ul {
    text-align: right;
  }
  .affix, .affix-top, .affix-bottom {
    position: fixed !important;
  }
}
.about #sponsors img {
  zoom: 0.3;
  margin: 20px;
}


.colleges #icons img {
  min-height: 100px;
  width: 100%;
  margin-bottom: 10px;
}
