body.cpanel {
  &#users {
    table {
      table-layout: fixed;
      word-break: break-all;
      th, td {
        width: 10%;
      }
      .homepage, .works, .actions {
        width: 20%;
      }
    }
  }
}
