$img-size: 300px;

#home {
  /*home page*/
  .slider {
    height: 500px;
  }
  #slider_list {
    text-align: center;
    #logo img { width: 780px; }

    #guest {
      padding-bottom: 50px;
      margin-top: 20px;
    }
    .grid-wrapper {
      position: relative;
      padding: 0;
      display:block;
      float: left;
      &.guest {
        width: 25%;
        /*height: 50%;*/
      }
      &.team-member {
        width: 12.5%;
        height: 25%;
      }
      &.top { margin: 0 0 5px 5px; }
      &.bottom { margin-right: 5px; }

      .text {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        color:#000;
        background-color:rgba(255,255,255,0.8);
        text-align: left;
        z-index: 10;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        .name {
          font-size: 36px;
          margin: 20px 0 5px 30px;
        }

        .description {
          font-size: 14px;
          font-family: Microsoft YaHei;
          margin-left: 20px;
          &.long { font-size: 12px; }
        }
      }
      .text:hover {
        opacity:1;
      }
      img {
        z-index:1;
        width: 100%;
        height: 100%;
      }
    }
  }
  #entries {
    background-color: #000;
    text-align: center;
    .inner {
      padding: 50px 300px;
      overflow: hidden;
      .entry {
        float: left;
        width: 33%;
      }
    }
  }

  /*about page*/
  #about {
    margin-top: 100px;
    ul#navigation {
      margin-top: 0;
      position: fixed;
      top: 100px;
      list-style: none;
      li {
        a {
          text-decoration: none;
        }
        margin-bottom: 20px;
      }
    }
    #flash {
      position: fixed;
      left: 512px;
      top: 0;
    }
    #content {
      float: right;
      width: 700px;
      .field {
        overflow: hidden;
        .label, .input { float: left; }
        .label {
          width: 100px;
          min-height: 30px;
          label {
            float: left;
            padding-top: 5px;
          }
        }
        .input { width: 500px; }
      }
      #signup .personal {
      }
    }
  }
}
