.skdslider ul.slide-navs li {
  background: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: gray;

  &.current-slide {
    background: none;
    background-color: red;
  }
}
.skdslider ul.slides li img {
  width: auto;
  height: auto;
}
