<!DOCTYPE html>
<html>
<head>
  <title>2014广州创客马拉松 Guangzhou Hackathon 2014</title>
  <meta name="keywords" content="2014广州创客马拉松">
  <meta name='viewport' content='width=device-width'>
  <%= stylesheet_link_tag "application.css", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" class='mobile'>

<div class="">
  <%= yield %>
</div>

</body>
</html>
