<div class="col-xs-12 col-sm-12 col-md-12">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %> alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%== message %>
  </div>
<% end %>
</div>

<%= render "form" %>
